@model ByDSync.Schema.ReportGL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportGL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Posting_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posting_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journal_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GL_Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GL_Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dr_Cr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dr_Cr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profit_Center)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profit_Center)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Custom_Code_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Custom_Code_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funding_Source_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funding_Source_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GL_Account_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GL_Account_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department_No_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department_No_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document_Source_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document_Source_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.C_uid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
