@model IEnumerable<ByDSync.Schema.code_list>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Synchronize Custom Code 3", "SynchronizeCC3")
    @Html.ActionLink("Synchronize Custom Code 1", "SynchronizeCC1")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeCode)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeCode)
        </td>
    </tr>
}

</table>
