@model IEnumerable<ByDSync.Schema.code_list>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Synchronize Custom Code 3", "SynchronizeCC3")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.code }) |
            @Html.ActionLink("Details", "Details", new { id=item.code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.code })
        </td>
    </tr>
}

</table>
