@model IEnumerable<ByDSync.Schema.ReportGL>

@{
    ViewBag.Title = "Index";
}

<h2>General Ledger Report</h2>

@Html.ActionLink("Export to Excel", "Report")

<table id="tab" class="table">
    <thead>
        <tr>
            <th>
                Posting Date
            </th>
            <th>
                Journal Source
            </th>
            <th>
                Journal ID
            </th>
            <th>
                GL Account
            </th>
            <th>
                GL Account Name
            </th>
            <th>
                GL Account Type
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
            <th>
                Dept No.
            </th>
            <th>
                Dept Name
            </th>
            <th>
                Project ID
            </th>
            <th>
                Project Name
            </th>
            <th>
                Funding Source
            </th>
            <th>
                Vendor/Customer Name
            </th>
            <th>
                Restricted/Unrestricted
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Posting_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Document_Source_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Journal_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GL_Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GL_Account_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department_No_)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funding_Source_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restricted_Name)
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tab').DataTable({
            columnDefs: [
                {
                    targets: 7,
                    render: function (data, type, row, meta) {
                        if (type === 'display') {
                            if (!data.toString().includes("-")) {
                                return 'Rp. ' + data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                            }
                            else {
                                return 'Rp. (' + data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".").replace("-","") + ")";
                            }
                        }

                        return data;
                    }
                },
                {
                    targets: 0,
                    render: function (data, type, row, meta) {
                        if (type === 'display') {
                            if (data.toString() != "") {
                                let textDate = data.split(" ");
                                return textDate[0];
                            }
                        }

                        return data;
                    }
                }
            ]
        });
    });
</script>